@use 'variaveis';

.nav {
    position: fixed;
    top: 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: variaveis.$corDeFundoPrincipal;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    z-index: 2;

    &__logo {
        max-width: 80px;
    }

    &__links {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3rem;

        &__link {

            a {
                position: relative;
                padding-bottom: 0.75rem;
                color: variaveis.$corTextoTitle;

                &::after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 0;
                    bottom: 0;
                    left: 0;
                    background-color: variaveis.$corDeFundoButton;
                    transition: all 0.5s ease;
                }

                &:hover::after {
                    width: 70%;
                }
            }
        }
    }
}