@use "variaveis";

.sobre {
    padding-top: 30px;
    position: relative;

    .title {
        margin-bottom: 10px;
    }

    .container {
        position: relative;
        flex-direction: column;

        h1 {
            padding-bottom: 50px;
        }

        p {
            color: variaveis.$corTextoPrincipal;
            margin-bottom: 20px;
        }

        .btn {
            border: 1px solid variaveis.$corDeFundoButton;
            background-color: transparent;
            border-radius: 0%;
            padding: 10px 20px;
        }
    }

    &__content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        gap: 50px;
        padding: 4rem 0;

        &__dados {

            ul {
                display: flex;
                flex-direction: column;
                color: variaveis.$corTextoPrincipal;

                li {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    h5 {
                        left: 0;
                    }
                }
            }
        }

        &__interesses {

            ul {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                list-style: none;
                color: variaveis.$corTextoPrincipal;

                li {
                    font-size: 2rem;

                    .interesse {
                        display: block;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}