@use 'variaveis';
@use 'nav';
@use 'hero';

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: variaveis.$corDeFundoPrincipal;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: variaveis.$corTextoPrincipal;
    background-color: variaveis.$corDeFundoButton;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background-color: variaveis.$corDeFundoButtonHover;
    }
}

@mixin title($fontSize: 1rem) {
    font-size: $fontSize;
    line-height: $fontSize + 1;
}

.title {
    @include title(2rem);
    margin-bottom: 1rem;
    color: variaveis.$corTextoTitle;
    font-weight: 600;
}

.title--small {
    @include title(1.5rem);
    color: variaveis.$corTextoTitle;
    font-weight: 600;
}

.title--big {
    @include title(3rem);
    color: variaveis.$corTextoTitle;
    font-weight: 700;
}