@use 'variaveis';
@use 'nav';
@use 'hero';
@use 'sobre';
@use 'skills';

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: variaveis.$corDeFundoPrincipal;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 30px;
    font-size: 1rem;
    font-weight: 500;
    color: variaveis.$corTextoPrincipal;
    background-color: variaveis.$corDeFundoButton;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;

    &:hover {
        background-color: variaveis.$corDeFundoButtonHover;
    }
}

@mixin title($fontSize: 1rem) {
    font-size: $fontSize;
}

.title {
    @include title(2rem);
    color: variaveis.$corTextoTitle;
    font-weight: 600;
}

.title--small {
    @include title(1.5rem);
    color: variaveis.$corTextoTitle;
    font-weight: 500;
}

.title--big {
    @include title(3rem);
    color: variaveis.$corTextoTitle;
    font-weight: 700;
}